.page-container {
    position: fixed;
    top: 0;
    left: 260px;
    padding: 20px 3rem 1rem;
}

.info-content {
    margin: 0 0 24px;
    h1 {
        font-size: 24px;
        font-weight: 500;
        margin: 8px 0;
    }
    p {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: .3px;
        font-weight: 400;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
}
